<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="org.community.mapper.DevBoardMapper">

<insert id="insert">
	<selectKey keyProperty="bno" order="BEFORE" resultType="long">
		select seq_DevBoard.nextval from dual
	</selectKey>
	
	insert into tbl_devBoard	
	(bno, title, content, writer, hits) 
	values(#{bno}, #{title}, #{content}, #{writer}, #{hits})
</insert>

<update id="update">
	update tbl_devBoard set title = #{title}, content = #{content}, writer = #{writer}, updateDate = sysdate
	where bno = #{bno}
</update>

<select id="list" resultType="org.community.domain.BoardVO">
	
	<![CDATA[
	select bno, title, content, writer, regDate, hits, replyCnt
	from
	(select /*+ INDEX_DESC(tbl_devBoard pk_devBoard)*/ 
	rownum rn, bno, title, content, writer, regDate, hits, replyCnt
	from tbl_devBoard where 
	]]>	
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item="type" collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'	
					</when> 	
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'	
					</when>
					<when test="type == 'W'.toString()">
						writer like '%'||#{keyword}||'%'
					</when>
				</choose>	
			</trim>	
		</foreach>	
	</trim>
	<![CDATA[
	rownum <= #{pageNum} * #{amount})
	where rn > (#{pageNum} - 1) * #{amount}
	]]>
</select>



</mapper>